<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href='/'>First Class Postage</a></h1>
    <h2>Rates</h2>
    <p>Type: <%= type %></p>
    <p>Weight: <%= weight %></p>
    <p>Rate: <%= rate %></p>
    
  </body>
</html>
